{% for container in containers_state_present_started %}
- name: "{{ container.name }}"
  ansible_host: "{{ docker_provisioner_host_ip }}"
  ansible_user: "{{ container.ansible_user | default(docker_provisioner_container_ansible_user) }}"
  ansible_password: "{{ container.ansible_password | default(docker_provisioner_container_ansible_password) }}"
  groups: "{{ container.groups | default([]) + docker_provisioner_container_groups }}"
  docker_host: "{{ inventory_hostname }}"
  docker_ip: "{{ docker_provisioner_containers_ips[container.name] }}"
{% if container.ssh_port is undefined %}
  ansible_port: "{{ ansible_port | default(22) }}"
  ansible_connection: docker
{% endif %}
{% if container.ssh_port is defined and container.ssh_port | string | length > 0 %}
  ansible_port: "{{ docker_provisioner_containers_ssh_mapped_ports[container.name] }}"
  ansible_connection: ssh
  ssh_public_keys: "{{ docker_provisioner_containers_ssh_public_keys[container.name] }}"
{% endif %}
{% endfor %}
